body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#all-products {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  text-align: center;
}

#single-product {
  border: 2px solid black;
  width: 600px;
  padding-bottom: 50px;
  margin-bottom: 10px;
  text-align: center;
}
#single-product-button {
  background-color: lightseagreen;
  color: white;
  padding: 10px;
}

#single-product-button:active {
  transform: translateY(2px);
  background-color: darkolivegreen;
}

#nav-bar {
  text-align: center;
  align-content: center;
}

/* // Drop-down Menu //  */
.dropdown {
  position: relative;
  display: inline-block;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  top: 45px;
  right: 0px;
  width: 200px;
  background-color: white;
  font-weight: bold;
  position: absolute;

  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
li a {
  color: #000;
  text-decoration: none;
}
li {
  padding: 8px 16px;
  border-bottom: 1px solid #e5e5e5;
}
li:last-child {
  border-bottom: none;
}
li:hover {
  background-color: skyblue;
  color: white;
}
.button {
  /* width:178px; */
  /* height:18px; */
  padding: 20px;
  border-radius: 5px;
  font-weight: bold;
}
.button:before {
  content: '';
  position: absolute;
  width: 0px;
  height: 0px;
  border: 10px solid;
  border-color: white transparent transparent transparent;
  right: 6px;
  top: 18px;
}

/* 
Checkout Styling  */
#checkout-item {
  display: flex;
  width: 500px;
  border: 2px solid;
  margin-bottom: 10px;
  justify-content: space-between;
  padding-right: 50px;
}

#shopping-cart {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  text-align: center;
  padding-bottom: 50px;
}

#delete-me {
  background-color: tomato;
}

#delete-me:active {
  transform: translateY(0.5px);
}

#add-delete-button:active {
  transform: translateY(0.5px);
}

img {
  width: 300px;
}

#checkout-img {
  width: 120px;
  height: 120px;
}
